<div class="info_fila1">
    <div class="info_cel1">
        <p>{{datosusuario.nombre}}, {{datosusuario.apellido}}</p>
    </div>
    <div class="info_cel2">
        <p>Cta. N°: <samp>{{datosusuario.nrocuenta}}</samp></p>
    </div>        
</div>
<div class="info_fila2">
    <div class="info_cel1">
        <p><samp>Saldo Actual</samp></p>
    </div>
    <div class="info_cel2">
        <p>$ <samp>{{datosusuario.saldoactual}}</samp></p>
    </div>
</div>
