{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Mensaje{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">            
            <li><a href="{{ path('F_inicio') }}">Volver</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}
<div class="ayudante">
    <div class="msj1">
        <h2>La operación se realizo con exito</h2>
    </div>
</div>
{% endblock %}
