<p> {{facultad}} - {{carrera.carrnombre}} - {{materia.matnombre}}</p>

<a href="{{ path('usuario_agregarmatlist',{'pid': pid, 'fid': fid,'cid': carrera.carrcodigo, 'maid': materia.matcodigo}) }}">Guardar Modificación</a>
