{% extends '::basecuerpo1CG.html.twig' %}
{% block title %}Mensaje{% endblock %}
{% block navigation %}      
    <nav>
        <ul class="navigation">
            <li><a href="{{ path('Faclutad_inicio') }}">Inicio</a></li>
        </ul>
    </nav>
{% endblock %}
{% block maincol %}
<div class="ayudante">
    <div class="msj1">
        <h2>
            <p>No se han cargado las Materia.</p>
            <p>Vuelva al inicio y relice la carga de las Maerias.</p>
        </h2>        
    </div>
</div>
{% endblock %}
    
